* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  .container {
    width: 85%;
    margin: auto;
  }
  
  /* Navigacija */
  .navigation {
    position: relative;
    background-image: url(../pagrindine\ nuotrauka.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20px 0 200px;
  }
  .navigation .wrapper {
    color: white;
  
  }
  
  .navigation .wrapper h1 {
    font-weight: 700;
    font-size: 76px;
  }
  .navigation .wrapper p {
    font-size: 19px;
    font-weight: 400;
  }
  
  .navigation a {
    color: white !important;
    font-weight: 650;
  }
  
  .navigation .btn-outline-tertiary {
    color: #fff;
    border-color: #fff;
  }
  .navigation .nav {
    font-size: 17px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 40px;
  }
  .navigation .nav a {
    text-decoration: none;
    margin: 5px;
    font-size: 17px;
  }
  
  a#navbarDropdownMenuLink {
    color: black;
  }
  
  ul.navbar-nav {
    margin-left: auto;
    margin-right: 50px;
  }
  
  /* Services */
  
  .service .container {
    margin-top: -60px;
  
    justify-content: space-between;
  }
  
  .service .service-item {
    position: relative;
  
    width: 500;
    height: 100%;
    text-align: left;
    padding: 2.632rem;
  
    background-color: #fff;
    margin-right: 30px;
    margin-left: 30px;
  }
  .service .service-item p {
    font-size: 19px;
    color: #6c6c6c;
  }
  
  /* Block */
  .blockas {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  
  .blockas .signature1 {
    align-items: center !important;
    display: flex !important;
    margin-top: 3.158rem !important;
  
    border-left: 20px !important;
  }
  
  .blockas .description2 p {
    font-size: 16px;
    color: #6c6c6c;
  }
  
  /* VerySmallsection */
  
  .VerySmallsection .col-md-3 {
    padding: 20px;
  }
  
  /* justphoto */
  .justphoto1 img {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px;
  }
  
  .our-team {
    padding-bottom: 20px;
  }
  
  /* BestTeam */
  
  .bestteam {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  
  /* Price Plan */
  .price-plan {
    padding-bottom: 20px;
  }
  
  /* Price tables */
  
  .prices-table .price {
    font-size: 70px;
    color: #0f4c81;
    padding-top: 40px;
  }
  
  .prices-table .currency {
    vertical-align: top;
    color: #0f4c81;
  }
  
  .prices-table {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  /* ...................... */
  
  .prices-table .prices-table-item {
    background-color: beige;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-right: 20px;
    border-color: #fcfbfb;
    border-style: solid;
  }
  .prices-table .toptable {
    text-align: center;
  }
  
  .prices-table .promotion {
    padding-left: 40px;
  }
  
  .prices-table .price-table-button {
    text-align: center;
    padding-top: 5px;
  }
  /* News */
  
  /* News */
  .news_section h2,
  .news_section p,
  .news_section a {
    font-family: "Poppins", sans-serif;
  }
  
  .news_section .box {
    margin-top: 45px;
  }
  
  .news_section .box img {
    width: 100%;
    height: 100%;
  }
  
  .news_section .box .action-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 10px 0;
  }
  
  .news_section .box .action-box a {
    margin-left: 15px;
    opacity: 0.6;
  }
  
  .news_section .box .action-box a img {
    width: 20px;
  }
  
  .news_section .box .action-box a:hover {
    opacity: 1;
  }
  
  .news_section .box .detail-box h4 {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .news_section .box .detail-box p {
    margin-top: 15px;
  }
  
  .news_section .box .detail-box a {
    display: inline-block;
    font-weight: bold;
    margin-top: 45px;
  }
  
  /* contact */
  
  .mb-4 {
    margin-top: 20px;
    border-top: #6c6c6c;
  
    padding-top: 20px;
    
    background-color: #c5b7b7;
  }
  
  /* Modal */
  .modal-header {
    background-color: beige;
  }
  
  /* Services2 */

.service1 .container{
  margin-top: 80px;
  
  justify-content: space-between;
}

.service1 .service-item{
  position: relative;
  
  width: 500;
  height: 100%;
  text-align: left;
  padding: 2.632rem ;
 
  background-color: #fff;
  margin-right: 30px;
  margin-left: 30px;
}
.service1 .service-item p{
font-size: 19px;
color: #d0c0c0;
}

/* Navigacija2 */
.navigation2 {
  position: relative;
  background-color: rgb(223, 223, 117);
 min-height: 100vh;
 background-size: cover;
 background-position: center;
 padding: 20px 0 200px;
}
.navigation2 .wrapper
{
  color: white;
  padding-top: 80px;
  padding-left: 150px;
  }

  .navigation2 .wrapper h1{
    font-weight: 700;
    font-size: 76px;
  }
  .navigation2 .wrapper p{
    font-size: 19px;
    font-weight: 400;
  }

.navigation2  a {
  color: rgb(10, 9, 9) !important;
 font-weight: 650;
}

.navigation2 .btn-outline-tertiary {
  color: #fff;
  border-color: #fff;
}
.navigation2 .nav
{
  font-size: 17px;
margin: 10px;
padding-left: 10px;
padding-right: 40px;

}
.navigation2 .nav a{
  text-decoration: none;
margin: 5px;
font-size: 17px;
}


a#navbarDropdownMenuLink {
  color: black;
}

ul.navbar-nav {
  margin-left: auto;
  margin-right: 50px;
}